<%
var joinStr = theme.global.title_join_string
var title = config.title
if (page.title) {
    title = [page.title, title].join(joinStr)
}
%>
<head>
    <meta charset="UTF-8">
    <% if (theme.global.dns_prefetch){ %>
    <% } %>
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.global.apple_touch_icon) %>">
    <link rel="icon" type="image/png" href="<%- url_for(theme.global.favicon) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <title><%= title %></title>
    <% if (theme.global.force_https) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <% } %>
    <% if(theme.global.font.css){ %>
    <link href="<%- theme.global.font.css %>" rel="stylesheet">
    <% } %>
    <meta name="description" content="<%= page.excerpt || config.description %>">
    <meta name="author" content="<%= page.author || config.author %>">
    <meta name="keywords" content="<%= config.keywords %>">
    <% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
    <script>
        //判断非本机且未使用https 时，强制重定向到https。
        if ((!window.location.host.startsWith("localhost")) && (window.location.protocol == "http:"))
            window.location = window.location.toString().replace(/^http:/, "https:");
    </script>
    <script>
        if (!!navigator.serviceWorker) {
            navigator.serviceWorker.register('/cw.js?t=' + new Date().getTime()).then(async (registration) => {
                if (localStorage.getItem('cw_installed') !== 'true') {
                    const conf = () => {
                        console.log('[CW] Installing Success,Configuring...');
                        fetch('/cw-cgi/api?type=config')
                            .then(res => res.text())
                            .then(text => {
                                if (text === 'ok') {
                                    console.log('[CW] Installing Success,Configuring Success,Starting...');
                                    localStorage.setItem('cw_installed', 'true');
                                    //如果你不希望重载页面，请移除下面五行
                                    fetch(window.location.href).then(res => res.text()).then(text => {
                                        document.open()
                                        document.write(text);
                                        document.close();
                                    });
                                } else {
                                    console.log('[CW] Installing Success,Configuring Failed,Sleeping 200ms...');
                                    setTimeout(() => {
                                        conf()
                                    }, 200);
                                }
                            }).catch(err => {
                                console.log('[CW] Installing Success,Configuring Error,Exiting...');
                            });
                    }
                    setTimeout(() => {
                        conf()
                    }, 50);
                }
            }).catch(err => {
                console.error('[CW] Installing Failed,Error: ' + err.message);
            });
        } else { console.error('[CW] Installing Failed,Error: Browser not support service worker'); }
    </script>
    <%- partial('_partial/style.ejs') %>
    <% if ((is_post() || is_page()) || page.layout == "category" || page.layout == "archive" || page.layout == "links" || page.layout == "search" || page.layout == "tag" || page.layout == "tags" || page.layout == "talk" || page.layout == "search") { %>
        <!--
        <link rel="stylesheet" href="<%- url_for('/css/page.css') %>" media="print"
            onload="this.media='all';this.onload=null">
        <noscript>-->
            <link rel="stylesheet" href="<%= url_for('/css/page.css') %>">
        <!--</noscript>-->
    <% } %>
    <% if (page.layout == "search") { %>
        <link rel="stylesheet" href="<%= url_for('/css/search.css') %>">
    <% } %>
    <link rel="stylesheet" href="<%- url_for('/css/main.css') %>" media="print" onload="this.media='all';this.onload=null">
    <noscript>
        <link rel="stylesheet" href="<%- url_for('/css/main.css') %>">
    </noscript>
    <%- theme.custom.header_html %>
    <script src="<%- url_for('/js/main.js') %>"></script>
    <script src="https://cdn.staticfile.org/prism/1.29.0/components/prism-core.min.js"></script>
	<script src="https://cdn.staticfile.org/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
    <% if (theme.global.memorial.enable) { %>
    <script>
        let mdate = "<%- theme.global.memorial.date %>";
        let ndate = new Date();
        if (mdate == (ndate.getMonth()+1) + "-" + (ndate.getDate())) {
            addClass("html", "memorial");
        }
    </script>
    <% } %>
    <div class="bg"></div>
</head>
