<!--
    同人的诞生就是对于某个故事的意难平，正是因为这些意难平，众多优秀的作品才会从幕后走到台前。
    这些故事的诞生就是为了让我们能够在这个世界上找到一些共鸣，找到一些温暖。
    它们让我们看到了不同的可能性，让我们感受到了不同的情感。
    它们，就是同人，就是本就不属于这个残酷世界的美好故事。
    我们，热爱着这一切的人们，与现实有着不可跨越的鸿沟，这无疑使我们与他人更显得格格不入。
    但是，我们却不会因此而放弃，我们却不会因此而停下脚步，我们会继续前行，去追寻那本不属于这个世界的，美好的故事。
-->
<!--
                          o                           *~+                      
                     o ^n                       n * z                      
                     . .**;                   -     o                      
                    ^.  -  o      ..  ^^.   .v      ^                      
                    .    i  nv             -1  +    z                      
                     .   +     +~;    * z     v   *n                       
                      in ^   .   -     .^~         -z   .                  
                     a.    ^   .         *n   -       o   -                
                    - ^   +              ~-z           z   *n              
                  +^ -   -    ^             z          +*  n               
                  ;       -  .+          - + z          -1o                
                 v .    -     .          .. ^ -.. .      ;^                
                 n - .   ;. . ^          .  ^   z         z*               
               v ;-      + -^ n      -   *o o  ^  o    *^  a               
           ;+   o.       ; no~ *+        v~-*a.   o+.+ ~-  ^n              
                n..      ~^.uo  n       . ;v   n*         n~+aa            
                ^~.     +** -1vnazn+     nv;azzvu         a~.              
                ;v      v^~nz n   ; on*;     - zv ^       ao^              
                n*       ;;  ^^ -~^  *   -      ~         o.^              
                 ~   ..  .z-         ;         n +       ++                
                 ~~  ;    oz                  n~a      ;.a-                
                 z*o z^   ozv      *           u^   -~- o-^                
                 ~* o^^-  ~  ++              u+-+    o++ .o                
                  ;   zn ~;; -  .i-       u~  ~-   n+ ;. *o                
                ~ ~    .  ..n + au+ ;1a+  zo.1o;   ..; . *~.               
                + v     +  *   ^u    - z     ana   ;   - . ~               
               * -z      * ^. vuz^     ~    o^a* -     ~;  *               
               ^  v       -n~     .   ^*  v   u        un + ;              
              ~ - .        ; a      o.;o~    z- .     - o^u*               
              ..ao          ~n*      ^z^      ...     v *u o*o             
             ;v .u^n n    .-+auz+1   *~  .n +;~^       *    ^ ~            
            .-~    a- v+    .n +.  a;+;~~    .v    . ..+    -;.            
            *n      .+v +;uuu^~ n~;z  a *~v  *    v +.       ; z           
           ^ a        on   .~; -ono+v .~+ ^ ~**+ o*        - .* +          
           * +         -.- ;-      aa*!     *;n; v            v v          
          ~ *           -~  oiai.  ^^  n ^uiv*.^z ~           +.-.         
          . ;            v          v            ;            +a n         
         o; + .                      nv          a           o~  ~         
             ;+     +                -;-         ~  -~       ;n  *         
        n+   n*       .v  ;                         .         u  ^         
        .~   ^v        ~;-*.                    a  ^          + *^.        
       . v   **            nn                  1  v            u-++        
       ~ z   ^               o  -;  ^  o -ozu.1 -              ~^^^        
       ~+a   u               n      a~+o      ;                !*o-        
       ~*o   i         1o-  -a        + **    no    *~no      u -v         
       目白樱落 メジロさくらがちる Mejiro Sakuragachiru
-->
<%
var joinStr = theme.global.title_join_string
var title = config.title
if (page.title) {
    title = [page.title, title].join(joinStr)
}
%>

<head>
    <meta charset="UTF-8">
    <% if (theme.global.dns_prefetch){ %>
    <% } %>
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for(theme.global.apple_touch_icon) %>">
    <link rel="icon" type="image/png" href="<%- url_for(theme.global.favicon) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <title><%= title %></title>
    <% if (theme.global.force_https) { %>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <% } %>
    <% if(theme.global.font.css){ %>
        <link href="<%- theme.global.font.css %>" rel="stylesheet">
    <% } %>
    <meta name="description" content="<%= page.excerpt || config.description %>">
    <meta name="author" content="<%= page.author || config.author %>">
    <meta name="keywords" content="<%= config.keywords %>">
    <% if (page.title){ %>
        <meta property="og:title" content="<%= page.title %>"/>
    <% } %>
    <script>
      //判断非本机且未使用https 时，强制重定向到https。
      if ((!window.location.host.startsWith("localhost")) && (window.location.protocol == "http:")) {
        window.location = window.location.toString().replace(/^http:/, "https:");
      }
    </script>
    <script>
      // 判断是否为主域名
      if (window.location.host.startsWith("blog.tnxg.top") || window.location.host.startsWith("localhost")) {
        // 如果有旧版本的CW，先卸载
        if (localStorage.getItem('cw_installed') == 'true') {
          console.log('[TNXG_SW]检测到旧版本的CW，正在卸载...');
          navigator.serviceWorker.getRegistrations()
            .then(function(registrations) {
              for (let registration of registrations) {
                registration.unregister()
              }
            })
          localStorage.removeItem('cw_installed');
          fetch(window.location.href)
            .then(res => res.text())
            .then(text => {
              document.open()
              document.write(text);
              document.close();
            });
        } else {
          if (!!navigator.serviceWorker) {
            navigator.serviceWorker.register('/sw.js?t=' + new Date().getTime())
              .then(async (registration) => {
                if (localStorage.getItem('TNXG_SW_installed') !== 'true') {
                  localStorage.setItem('TNXG_SW_installed', 'true');
                  console.log('[TNXG_SW] 安装成功，正在重载页面！');
                  fetch(window.location.href)
                    .then(res => res.text())
                    .then(text => {
                      document.open()
                      document.write(text);
                      document.close();
                    });
                }
              }).catch(err => {
                console.error('[TNXG_SW] 安装失败，原因： ' + err.message);
              });
          } else {
            console.error('[TNXG_SW] 安装失败，原因： 浏览器不支持service worker');
          }
        }
      } else {
        fetch('https://assets.tnxg.whitenuo.cn/data/blog_error.html')
          .then(res => res.text())
          .then(text => {
            document.open()
            document.write(text);
            document.close();
          });
      }
    </script>
    <%- partial('_partial/style.ejs') %>

    <% if ((is_post() || is_page()) || page.layout == "category" || page.layout == "archive" || page.layout == "links" || page.layout == "search" || page.layout == "tag" || page.layout == "tags" || page.layout == "talk" || page.layout == "search") { %>
        <!--
        <link rel="stylesheet" href="<%- url_for('/css/page.css') %>" media="print"
            onload="this.media='all';this.onload=null">
        <noscript>-->
        <link rel="stylesheet" href="<%= url_for('/css/page.css') %>">
        <!--</noscript>-->
    <% } %>
    <% if (page.layout == "search") { %>
        <link rel="stylesheet" href="<%= url_for('/css/search.css') %>">
    <% } %>
    <link rel="stylesheet" href="<%- url_for('/css/main.css') %>" media="print"
          onload="this.media='all';this.onload=null">
    <noscript>
        <link rel="stylesheet" href="<%- url_for('/css/main.css') %>">
    </noscript>
    <script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
    <%- theme.custom.header_html %>
    <script src="<%- url_for('/js/main.js') %>"></script>
    <% if (theme.global.memorial.enable) { %>
        <script>
            let mdate = "<%- theme.global.memorial.date %>";
            mdate = (mdate.split(","));
            let ndate = new Date();
            for (let i of mdate) {
                if (i == (ndate.getMonth() + 1) + "-" + (ndate.getDate())) {
                    addClass("html", "memorial");
                }
            }
        </script>
    <% } %>
    <div class="bg"></div>
</head>