<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
%>
<article class="page">
  <div id="post-meta-m" style="padding-bottom:0;">
    <div class="post-meta" id="post-meta">
      <h3><%= page.title %></h3>
    </div>
    <h2 id="友链说明"><a href="#友链说明" class="headerlink" title="友链说明"></a>友链说明</h2>
    <p>友链显示顺序为添加前后顺序~</p>
    <p>如要申请友链，请前往<a target="_blank" rel="noopener" href="https://github.com/TNXG/blog/#friends">这里</a>申请友链或者在评论区发送
    </p>
    <details>
      <summary>申请友链前必读</summary>
      <p>
      <ul>
        <li>
          申请友链时请确保您的站点同时也有我们的站点的友链，若审批通过后移除本站链接，本站也将移除友链，并加入黑名单。
        </li>
        <li>审批通过的站点不会轻易删除，包括您的站点长时间无法访问。</li>
        <li>若站点长时间无法访问，我们会删除您的友链，恢复后可再次申请</li>
        <li>确保您的网站不存在政治敏感问题及违法内容。没有过多的广告、无恶意软件、脚本。且转载文章须注明出处。</li>
        <li>确保站点可以以 HTTPS 访问, 允许不强制, 可以没有 HSTS。</li>
        <li>确保您的站点拥有rss订阅链接</li>
        <li>您需要有自己的独立域名，暂且不同意公有子域名或免费域名的友链申请(如 github.io, vercel.app, eu.org,
          js.cool, .tk, .ml, .cf 等，py 除外)
        </li>
        <li>暂时不同意商业及非个人的网站的友链申请(py 除外)。</li>
      </ul>
      </p>
      <p>申请友链时必须按照以下格式填写</p>
      <pre class="shiki dark-plus" style="background-color: #1E1E1E; color: #D4D4D4"><div class="language-id">json</div><div class="code-container"><code><div class="line"><span style="color: #D4D4D4">,{</span></div><div class="line"><span style="color: #D4D4D4">    </span><span style="color: #9CDCFE">"title"</span><span style="color: #D4D4D4">:</span><span style="color: #CE9178">"站点名称"</span><span style="color: #D4D4D4">,</span></div><div class="line"><span style="color: #D4D4D4">    </span><span style="color: #9CDCFE">"intro"</span><span style="color: #D4D4D4">:</span><span style="color: #CE9178">"站点简介"</span><span style="color: #D4D4D4">,</span></div><div class="line"><span style="color: #D4D4D4">    </span><span style="color: #9CDCFE">"link"</span><span style="color: #D4D4D4">:</span><span style="color: #CE9178">"站点链接(链接末尾需要携带/，比如https://blog.tnxg.top/)"</span><span style="color: #D4D4D4">,</span></div><div class="line"><span style="color: #D4D4D4">    </span><span style="color: #9CDCFE">"image"</span><span style="color: #D4D4D4">:</span><span style="color: #CE9178">"icon图片链接（推荐使用图床，我们会进行缓存）"</span><span style="color: #D4D4D4">,</span></div><div class="line"><span style="color: #D4D4D4">    </span><span style="color: #9CDCFE">"rss"</span><span style="color: #D4D4D4">:</span><span style="color: #CE9178">"rss订阅链接"</span><span style="color: #D4D4D4">,</span></div><div class="line"><span style="color: #D4D4D4">    </span><span style="color: #9CDCFE">"time"</span><span style="color: #D4D4D4">: </span><span style="color: #CE9178">"申请时间(10位时间戳)"</span></div><div class="line"><span style="color: #D4D4D4">}</span></div></code></div></pre>
      <br>
      <details>
        <summary>本站信息</summary>
        <pre class="shiki dark-plus" style="background-color: #1E1E1E; color: #D4D4D4"><div class="code-container"><code><div class="line"><span style="color: undefined">站名: 天翔TNXGの空间站</span></div><div class="line"><span style="color: undefined">链接：https://blog.tnxg.top</span></div><div class="line"><span style="color: undefined">介绍: 明日尚未到来，希望凝于心上</span></div><div class="line"><span style="color: undefined">图标: https://q1.qlogo.cn/g?b=qq&amp;nk=2271225249&amp;s=640</span></div></code></div></pre>
      </details>
    </details>
    <div class="links-page" style="padding-top:10px;" id="links-page">
      <% for(const each of theme.links.items || []) { %>
      <% if (!each.title || !each.link) continue %>
      <div class="links-card">
        <a href="<%= url_for(each.link) %>" class="links-card-body" target="_blank" rel="noopener">
          <div class="links-card-content">
            <% if (each.image){ %>
            <div class="link-avatar my-auto">
              <img src="<%= each.image %>" alt="<%= each.title %>" />
            </div>
            <% } %>
            <div class="link-text">
              <div class="link-title"><%- each.title %></div>
              <div class="link-intro"><%- each.intro %></div>
            </div>
          </div>
        </a>
      </div>
      <% } %>
      <% if (theme.links.json_links.enable) { %>
      <script>
        (async () => {
          const res = await fetch('<%= theme.links.json_links.item_links %>');
          const json = await res.json();
          console.log(json);
          const Linkscontainer = document.getElementById('links-page');
          json.forEach(item => {
            const element = document.createElement('div');
            element.className = "links-card";

            element.innerHTML = `
        <a href="${item.link}" class="links-card-body" target="_blank" rel="noopener">
          <div class="links-card-content">
              <div class="link-avatar my-auto">
                <% if (config.lazyload) { %>
                <img webp-comp class="lazyload-img" data-srcset="${item.image}" srcset="<%= config.lazyload.loadingImg || "/img/loading.svg" %>" src="${item.image}" alt="${item.title}" />
                <% } else { %>
                  <img webp-comp class="lazyload-img" data-srcset="${item.image}" srcset="<%= "/img/loading.svg" %>" src="${item.image}" alt="${item.title}" />
                <% } %>
              </div>
            <div class="link-text">
              <div class="link-title">${item.title}</div>
              <div class="link-intro">${item.intro}</div>
            </div>
          </div>
        </a>
            `;
            Linkscontainer.appendChild(element);
          });
          setTimeout(function() {
            function query(selector) {
              return Array.from(document.querySelectorAll(selector));
            }

            const io = new IntersectionObserver(function(entries) {
              entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                  const img = entry.target;
                  img.srcset = img.getAttribute('data-srcset');
                  img.className += ' loaded'
                  io.unobserve(img);
                }
              });
            });

            query('.lazyload-img').forEach(function(item) {
              io.observe(item);
            });
          }, 0)
        })();
      </script>
      <% } %>
    </div>
  </div>
  <div class="article-m">
    <div class="post-toc">
      <% if (page.toc == true){ %>
      <%- toc(page.content) %>
      <% } %>
    </div>
    <div id="article" class="markdown-body textretty">
      <%- page.content %>
    </div>
  </div>
  <% if(page.comment || theme.global.comment) { %>
  <!-- Comments -->
  <div class="comments">
    <% var type = '_partial/comments/' + theme.comment.type %>
    <%- partial(type) %>
  </div>
  <% } %>
</article>